/*Pour utiliser l'extension scss, j'ai installé sass avec la commande : npm i sass*/

html,
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the order */
  max-height: 800px; /* Optional: Set a maximum height for scrollable content */
  overflow-y: auto; /* Optional: Add vertical scrolling */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}